@page
@model PR.Pages.MenuItems.DetailsModel

@{
    ViewData["Title"] = "Details Item";
}

<h1>Details Item</h1>

<div class="card">
    <div class="container">
        <div class="row card-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        <strong>@Html.DisplayNameFor(model => model.MenuItem.Id)</strong>
                    </label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.MenuItem.Id)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <strong>@Html.DisplayNameFor(model => model.MenuItem.Name)</strong>
                    </label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.MenuItem.Name)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <strong>@Html.DisplayNameFor(model => model.MenuItem.Description)</strong>
                    </label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.MenuItem.Description)
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label class="control-label">
                            <strong>@Html.DisplayNameFor(model => model.MenuItem.Price)</strong>
                        </label>
                        <div class="form-control">
                            @Html.DisplayFor(model => model.MenuItem.Price)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <strong>@Html.DisplayNameFor(model => model.MenuItem.Users)</strong>
                    </label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.MenuItem.Users.Name)
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label">
                        <strong>@Html.DisplayNameFor(model => model.MenuItem.Category)</strong>
                    </label>
                    <div class="form-control">
                        @Html.DisplayFor(model => model.MenuItem.Category.Name)
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">
                        <strong>@Html.DisplayNameFor(model => model.MenuItem.Img)</strong>
                    </label>
                    <div>
                        <img src="~/img/MenuItem/@Html.DisplayFor(model => model.MenuItem.Img)" style="width: 400px; height:auto;" />
                    </div>
                </div>
            </div>
        </div>


    </div>
    <div class="card-footer d-flex justify-content-between">
        <a asp-page="./Index">Back to List</a>
        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@Model.MenuItem?.Id">Edit</a>
    </div>
</div>
